<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Ini buat template">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="icon" href="./favicon.png">
  <title>TravelKuy</title>
</head>
<body>
    <header class="app-bar">
        <div class="app-bar__menu">
          <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
          <h1>Agrowisata dan Desa Wisata</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
          <ul>
            <li><a href="#/">Home</a> </li>
            <li><a href="#/agrowisata">Agrowisata</a> </li>
            <li><a href="#/desaWisata">Desa Wisata</a> </li>
            <li><a href="#/aboutUs">About Us</a> </li>
            <li id="saved-data-link" style="display: none;"><a href="#/saved-data-page">Lihat Data Tersimpan</a></li>
          </ul>
        </nav>
      </header>
      <main id="mainContent">
        <div id="data-container">
        </div>
        <div id="desawisata-list">
        </div>
      </main>
      <footer>
        <div class="footer-content">
            <div class="footer-section about">
                <h2>TravelKuy</h2>
                <p>Welcome to TravelKuy! We are dedicated to promoting agrotourism and village tourism in Indonesia. Our mission is to highlight the beauty and cultural richness of our rural areas, providing unique and immersive experiences for travelers.</p>
                <p><strong font-size="16px">Phone :</strong> +6282267050097</p>

                <ul>
                    <li><a href="#/aboutUs" class="active">About Us</a></li>
                    <li><a href="#" class="home">Home</a></li>
                </ul>
            </div>
        </div>
        <h2>Created by group</h2>
    </footer>
      <script src="../scripts/views/pages/desawisata.js"></script>
</body>
</html>
