@media screen and (min-width: 600px) {
  .travelkuy {
    grid-template-columns: repeat(2, 1fr); /* Two columns on small tablets */
  }

  .travelkuy-item_judul {
    font-size: 1.75em; /* Increase font size for tablets */
  }

  .travelkuy-item_penjelasan {
    font-size: 1.125em; /* Slightly larger for tablets */
  }
}

@media screen and (min-width: 650px) {
 .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }
 
  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }
 
  .app-bar .app-bar__menu {
    display: none;
  }
 
  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }
 
  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }
 
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }
 
  .wisata {
    grid-template-columns: 1fr 1fr;
  }
 
}
 
@media screen and (min-width: 800px) {
 .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
  
   .travelkuy {
    grid-template-columns: repeat(2, 1fr); /* Two columns on tablets */
    gap: 60px;
  }
}
 
@media screen and (min-width: 850px) {
  .wisata {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .travelkuy {
    grid-template-columns: repeat(3, 1fr); /* Three columns on larger screens */
  }

  .travelkuy-item_judul {
    font-size: 2em; /* Increase font size for larger screens */
  }

  .travelkuy-item_penjelasan {
    font-size: 1.25em; /* Larger text for larger screens */
  }
}
 
@media screen and (min-width: 1200px) {
  .wisata {
    grid-template-columns: repeat(4, 1fr);
  }
  .travelkuy {
    grid-template-columns: repeat(3, 1fr); /* Three columns on larger screens */
    gap: 80px;
  }
  .travelkuy-item {
    flex-direction: row; /* Switch to horizontal layout on larger screens */
  }
  .travelkuy-item_gambar {
    width: 100%; /* Adjust image width for horizontal layout */
  }
  .travelkuy-item_isi {
    padding: 20px; /* Adjust padding for horizontal layout */
  }

}
 
@media screen and (min-width: 1600px) {
  .wisata {
      grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 600px) {
  .video-container {
    padding-bottom: 75%; /* Mengubah rasio menjadi 4:3 pada layar kecil */
  }
}

@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      align-items: flex-start;
  }

  nav li {
      margin: 10px 0;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  h1 {
      font-size: 28px;
  }

  .agrowisata-list {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  #filter-location {
      width: 100%;
      margin: 10px 0;
  }
}